In [6]:
import pandas as pd
import numpy as np

Get data

In [7]:
ackley = pd.read_csv('../data/custom_heuristic/custom_ackley_10/iterations.csv')
ackley

      iteration  best_fx  diversity
0             1  19.3255        0.0
1            10  19.3255        0.0
2            20  19.3255        0.0
3            30  19.3255        0.0
4            40  19.3255        0.0
...         ...      ...        ...
2545        460  19.9460        0.0
2546        470  19.9460        0.0
2547        480  19.9460        0.0
2548        490  19.9460        0.0
2549        500  19.9460        0.0

[2550 rows x 3 columns]

Calculate statistics of runs

In [11]:
mean = ackley.groupby("iteration").agg(
    mean_opt=pd.NamedAgg(column="best_fx", aggfunc=np.mean),
    std_opt=pd.NamedAgg(column="best_fx", aggfunc=np.std),
    min_opt=pd.NamedAgg(column="best_fx", aggfunc="min"),
    max_opt=pd.NamedAgg(column="best_fx", aggfunc="max"),
    median_opt=pd.NamedAgg(column="best_fx", aggfunc=np.median),
)
mean

            mean_opt   std_opt  min_opt  max_opt  median_opt
iteration
1          19.772576  0.559364  18.2558  20.5450    19.94010
10         19.256422  0.664215  17.3604  20.5213    19.24140
20         19.093054  1.038461  13.7655  20.5213    19.20285
30         19.093054  1.038461  13.7655  20.5213    19.20285
40         19.093054  1.038461  13.7655  20.5213    19.20285
50         19.093054  1.038461  13.7655  20.5213    19.20285
60         19.093054  1.038461  13.7655  20.5213    19.20285
70         19.093054  1.038461  13.7655  20.5213    19.20285
80         19.093054  1.038461  13.7655  20.5213    19.20285
90         19.093054  1.038461  13.7655  20.5213    19.20285
100        19.093054  1.038461  13.7655  20.5213    19.20285
110        19.093054  1.038461  13.7655  20.5213    19.20285
120        19.093054  1.038461  13.7655  20.5213    19.20285
130        19.093054  1.038461  13.7655  20.5213    19.20285
140        19.093054  1.038461  13.7655  20.5213    19.20285
150        19.093054  1.038461  13.7655  20.5213    19.20285
160        19.093054  1.038461  13.7655  20.5213    19.20285
170        19.093054  1.038461  13.7655  20.5213    19.20285
180        19.093054  1.038461  13.7655  20.5213    19.20285
190        19.093054  1.038461  13.7655  20.5213    19.20285
200        19.093054  1.038461  13.7655  20.5213    19.20285
210        19.093054  1.038461  13.7655  20.5213    19.20285
220        19.093054  1.038461  13.7655  20.5213    19.20285
230        19.093054  1.038461  13.7655  20.5213    19.20285
240        19.093054  1.038461  13.7655  20.5213    19.20285
250        19.093054  1.038461  13.7655  20.5213    19.20285
260        19.093054  1.038461  13.7655  20.5213    19.20285
270        19.093054  1.038461  13.7655  20.5213    19.20285
280        19.093054  1.038461  13.7655  20.5213    19.20285
290        19.093054  1.038461  13.7655  20.5213    19.20285
300        19.093054  1.038461  13.7655  20.5213    19.20285
310        19.093054  1.038461  13.7655  20.5213    19.20285
320        19.093054  1.038461  13.7655  20.5213    19.20285
330        19.093054  1.038461  13.7655  20.5213    19.20285
340        19.093054  1.038461  13.7655  20.5213    19.20285
350        19.093054  1.038461  13.7655  20.5213    19.20285
360        19.093054  1.038461  13.7655  20.5213    19.20285
370        19.093054  1.038461  13.7655  20.5213    19.20285
380        19.093054  1.038461  13.7655  20.5213    19.20285
390        19.093054  1.038461  13.7655  20.5213    19.20285
400        19.093054  1.038461  13.7655  20.5213    19.20285
410        19.093054  1.038461  13.7655  20.5213    19.20285
420        19.093054  1.038461  13.7655  20.5213    19.20285
430        19.093054  1.038461  13.7655  20.5213    19.20285
440        19.093054  1.038461  13.7655  20.5213    19.20285
450        19.093054  1.038461  13.7655  20.5213    19.20285
460        19.093054  1.038461  13.7655  20.5213    19.20285
470        19.093054  1.038461  13.7655  20.5213    19.20285
480        19.093054  1.038461  13.7655  20.5213    19.20285
490        19.093054  1.038461  13.7655  20.5213    19.20285
500        19.093054  1.038461  13.7655  20.5213    19.20285